/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background: #248DD2;
    background: linear-gradient(left, #248DD2 0%, #FF14E9 100%);
    background: linear-gradient(left, #248DD2 0%, #FF14E9 100%);
    background: linear-gradient(to right, #248DD2 0%, #FF14E9 100%);
}

/* Title */
h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

/* Style the white box */
#School-News-box {
    background-color: white; /* White background for the box */
    color: #333; /* Text color */
    padding: 20px; /* Inner spacing */
    border-radius: 32px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /* Subtle shadow for depth */
    max-width: 400px; /* Limit the width of the box */
    text-align: center;
    position: absolute;
    top: 50px;
    left: 300px;
}

#graph-container {
    position: absolute;
    bottom: 150px;
    left: 150px;
    width: 400px; /* Set width of the graph */
    height: 300px; /* Set height of the graph */
    /*background-color: rgb(255, 255, 255);*/
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

#csusm-logo{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: auto;
}
